.content12 {
    background-color: black;
    height: 300px;
}
.content6-left {
    background-color: aqua;
    height: 300px;
}

.content6-right {
    background-color: darkgreen;
    height: 300px;
}

.content4-left {
    background-color: red;
    height: 300px;
 }
.content4-center {
    background-color: blue;
    height: 300px;
}
.content4-right {
    background-color: yellow;
    height: 300px;
}

.content3-1 {
    background-color: green;
    height: 300px;
}
.content3-2 {
    background-color: gray;
    height: 300px;
}
.content3-3 {
    background-color: red;
    height: 300px;
}
.content3-4 {
    background-color: pink;
    height: 300px;
}
